nav .fa{
    display: none;
}
@media(max-width:700px){
    .textbox h1{
        font-size: 20px;
    }
    .textbox p {
        font-size: 18px;
    }

    .nav-links ul li {
        display: block;
        /* list-style: square ; */
      
     }
     .header{
        background-position-x: -30vh;
     }
     .nav-links ul li a{
        
        font-size: 15px;
     }

    .nav-links{
        position:absolute;
        background: pink;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    } 
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
    .row{
    margin-top: 5%;
    display: block;
    justify-content: space-around;
}

}

/* course */
@media(max-width:700px){
    .course{
        padding: 10% 5%;
        padding-bottom: 10%;
        width: 90%;
    }
    .campus{
        padding-bottom: 5%;
    }
    .campus-col {
        margin-left: 30%;
        margin-bottom: 5%;
        padding-bottom: 20%;
        width: 300px;
        height: 300px;
    }
    .campus-col img{
        height: 500px;
    }

    .campus-col h3{
        top: 90%;
        /* flex-direction: column; */
    }
    
}
@media(max-width:700px){
    
    /* .facilities-col img{
        
    }  */
    .facilities{
        padding-bottom: 10%;
    }
    .facilities-col {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;

    }
    .testimonial-col img{
        display: flex;
        
        /* flex-direction: column; */
        margin-left: 0px;
        margin-right: 30px;
    }
    .testimonial-col p{
        width: auto;
    }

    .facImg{
        width: 75px;
        height: 75px;
       
    }
}

@media(max-width:700px){
    .cta h1{
        font-size: px;

    }
}