*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(40,9,30,0.7)),url(images/b-k-HAl6CKxM3xU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;    
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(219, 79, 103);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox {
    width:90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.textbox h1{
    font-size: 70px;   
}
.textbox p {
    margin: 10px 0px 40px;
    font-size: 24px;
    color: white;

}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.btn:hover {
    border: 1px solid pink;
    background:hotpink;
    transition: 1s;
}

.course{
    width: 100%;
    margin-top: 1px;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1464062901860-6bfe29568e56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1297&q=80);
    justify-content: space-around;
    color: white;
    
}

.course h1 {
    color: rgb(204, 147, 3);
    font-size: 35px;
    font-weight: 600;
}
p{
    color: white;

    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    

}
.course-col{

    flex-basis: 31%;
    background: transparent;
    color:white;
    border-radius: 10px;
    margin-bottom: 5%;
    
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 5px white;


}
.course-col p{
    color: white;
}
h3{
    
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px white;

}

.campus{
    color: orangered;
    width: 92%;
    margin-top: 1px;
    text-align: center;
    padding: 4%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),black), url(https://images.unsplash.com/photo-1477659803863-c1bf91b34c90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}
.campus-col{
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
} 
.layer:hover{
    background: rgba(22,0,0,0.7);
    
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3{
    bottom:49%;
    opacity: 1;

}
.facilities {

    width: 100%;
    height: 40%;
    margin-top: 1px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),black), url(https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80https://images.unsplash.com/photo-1618944847828-82e943c3bdb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}

 .facilities h1, .facilities h3{
    color: rgb(238, 113, 113);
}
.facilities h3 {
    color: rgb(223, 92, 92);
}

.facilities-col{
    display: block;
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 5%;
    /* text-align: left; */
    align-items: center;
    justify-content: center;

}
.facilities-col img{
    width: 300px;
    border-radius: 20px;
    height: 300px;
    box-shadow: 0 0 6px pink;
   
}

.facilities-col h3{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 2px;
    text-align: center;
    margin-bottom: 2%;
    /* color: white; */
}
.testimonial{
    color: pink;
    width: 100%;
    /* margin: auto; */
    text-align: center;
    padding: 2% 0%;
    margin-top: 2px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1637055159652-2b8837731f00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80https://images.unsplash.com/photo-1496989981497-27d69cdad83e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=931&q=80https://images.unsplash.com/photo-1464062901860-6bfe29568e56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1297&q=80);
    background-size: contain;
    position: relative;
}

.testimonial-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 0% 5%;
    margin-bottom: 4%;
    text-align: left;
    background: transparent;
    box-shadow: 0 0 20px pink;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonial-col p{
    padding: 0;
    font-size: 12px;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
}
.cta{
   
    margin: 1px;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.2)), url(images/jovan-vasiljevic-wmyVnFRYhlo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;

}
.cta h1{
     color: yellow;
    padding: 1%;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0%;
}
.footer h4{
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .fa{
    color: brown;
    margin: 0px 13px;
    cursor: pointer;
    padding: 18px 0;
}

.footer {
   color: brown;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1637055159652-2b8837731f00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: contain;
    position: relative;
} 

.facImg {
    height: 150px;
    width: 300px;
    margin: auto;
    border: 3px solid white;
}

.facContent{
    flex-basis: 70%;

}